<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= pagetitle %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .flex-container {
        display: flex;
        background-color: white;
        justify-content: space-between;

    }

    .flex-container > div {
        background-color: #FFFFFF;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }

    .btn-group button {
        background-color: #808080; /* Green background */
        border: 1px solid darkgray; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
    }


    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: darkgray;
    }
</style>
<body>